<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/css/jquery.fancybox.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  {{{body}}}

  <script src="/vendors/js/jquery-3.3.1.min.js"></script>
  <script src="/vendors/js/popper.js"></script>
  <script src="/vendors/js/all.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/vendors/js/jquery.fancybox.js"></script>
</body>

</html>